{{!-- Create Post --}}
<section>
  <h2>Create New Post</h2>

  <form id="new-post-form">
    <div class="post-div">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="post-div">
      <label for="post-body">Body</label>
      <textarea type="text" id="post-body" name="post-body" placeholder="Please enter your blog entry..."></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>