<form class="login-form card-body" id="login-form">
    <div class="card">

      <h2 class="card-header text-uppercase">Login</h2>

      <div class ="flex-column padded">
        <div>
    <label for="username-login" class="form-label">username:</label>
    <input type="text" id="username-login" class="form-input" /></div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" id="password-login" class="form-input" />
  </div>
  <div>
    <button type="submit" class="btn">login</button>
  </div>
  <h3>Dont have an account? <a href="/signup">Sign Up</a></h3>
  </div></div>
</form>



<script src="/javascript/login.js"></script>