<form class="card-body" id="signup-form">
    <div class="card card2">
  <div class=" col-md-4">
      <h2 class="card-header text-uppercase">Sign up</h2>

       <div class ="flex-column padded"><div>
    <label for="username-signup" class="form-label" for="username">username:</label>
    <input type="text" id="username-signup" class="form-input" />
  </div>
  <div>
    <label for="email-signup" class="form-label" for="username">email:</label>
    <input type="text" id="email-signup" class="form-input" />
  </div>
  <div>
    <label for="password-signup" class="form-label" for="username">password:</label>
    <input type="password" id="password-signup" class="form-input" />
  </div>
  <div>
    <button type="submit" class="btn" >signup</button>
  </div></div>
  </div>
</form>

<script src="/javascript/signup.js"></script>